POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=5432
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>

DJANGO_SECRET_KEY=<your_secret_key>
DJANGO_SETTINGS_MODULE=py_kitchen_service.settings.prod

RENDER_EXTERNAL_HOSTNAME=<your_render_url_without_https>
