{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Dish List</h1>
  </div>

  <table class="table table-hover shadow-sm bg-white mt-4">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Dish Type</th>
        <th>Cooks</th> </tr>
    </thead>
    <tbody id="dish-table-body">
      {% include "kitchen/dish_list_items.html" %}
    </tbody>
  </table>
{% endblock %}
